{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<h2 class="title">MyApp</h2>{% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<h1>Welcome to MyApp</h1>
<h4>I literally don't know what I am building but I know I am gonna make something outta this shit.</h4>
<p>I am applying the compounding interest thingy plus testing my django skills. Wanna be a mentor someday.</p>
{% block content %}
{% endblock %}
</body>
</html>